<h3>Detailed Progress</h3>

<div>
    <i class="icon-list"></i>&nbsp;&nbsp;<h5 style="display: inline-block">Instructions</h5>
    <ol>
        <li>Add any messages you require with optional variables</li>
        <li>Select active messages with ctl + click</li>
        <li>Set desired formats for variables</li>
        <li>Save settings</li>
    </ol>
    <p>To display layer progress, height progress or time to filamentchange you will have to install <a target="_new" href="https://plugins.octoprint.org/plugins/DisplayLayerProgress/">DisplayLayerProgress</a>.</p>
    <i class="icon-warning-sign"></i>&nbsp;&nbsp;<h5 style="display: inline-block">Warning</h5>
    <p>Changing settings without understanding what you are doing can cause prints to fail!</p>
    <ul>
        <li><b>Do not</b> use characters like <code>:</code> in the messages unless you know what you are doing, as some firmwares will expect a checksum and crash. To fix this issues either omit the character or update to the latest version of Marlin.</li>
    </ul>
    <p>No warranty is given, and no responsibility can be accepted if there are problems.  By using this plugin you accept the associated risks.</p>
    <i class="icon-book"></i>&nbsp;&nbsp;<h5 style="display: inline-block">Documentation</h5>
    <p>Documentation is available on <a target="_new" href="https://github.com/tpmullan/OctoPrint-DetailedProgress/blob/master/README.md">Github</a></p><a target="_new" href="https://github.com/tpmullan/OctoPrint-DetailedProgress/blob/master/README.md"></a>
</div>

<hr>

<form class="form-horizontal">
  <div style="clear:both">
    <h4>Configure which messages to display.
    <small>Multi-select active messages with ctl + click</small>
    </h4>
  </div>

	<div class="control-group">
		<label class="control-label">{{ _('All Messages') }}</label>
		<div class="controls">
			<select multiple="multiple" size="6" id="dtPrg_selMsg"
                    data-bind="options:settings.plugins.detailedprogress.all_messages, selectedOptions:settings.plugins.detailedprogress.messages"></select>
		</div>
		<div class="controls">
			<button class="btn" id="dtPrg_removeSelected">{{ _('Delete selected') }}</button>
		</div>
		<div class="controls">
			<input type="text" id="dtPrg_msgToAdd">
			<button class="btn" id="dtPrg_addMsg">{{ _('Add message') }}</button>
		</div>
	</div>  

  <h4>Format Settings<h4>
	
  <div class="control-group">
		<label class="control-label">{{ _('Rotation time in seconds') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.time_to_change" size="10">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('eta_strftime') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.eta_strftime">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('etl_format') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.etl_format">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Print done message') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.print_done_message">
		</div>
	</div>
  
  <h4>Progress bar update<h4>
	
  <div class="control-group">
		<label class="control-label">{{ _('Send M73 Progress Updates') }}</label>
		<div class="controls">
      <input type="checkbox" class="input-block-level form-check-input" data-bind="checked: settings.plugins.detailedprogress.use_M73">
		</div>
	</div>

</form>
