<h4>Detailed Progress Settings</h4>
Configure which messages to display and message rotation time.
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label">{{ _('Rotation time in seconds') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.time_to_change" size="10">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('eta_strftime') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.eta_strftime">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('etl_format') }}</label>
		<div class="controls">
			<input type="text" class="input-block-level" data-bind="value: settings.plugins.detailedprogress.etl_format">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Messages') }}</label>
		<select multiple="multiple" height="5" data-bind="options:settings.plugins.detailedprogress.allmessages, selectedOptions:settings.plugins.detailedprogress.messages"> </select>
		<button data-bind="click: removeSelected, enable: settings.plugins.detailedprogress.messages.length > 0">Remove</button>
	</div>
</form>
